{{ define "easyPuzzleFile" }}package easy

import (
	"fmt"
)

func SolveProblem{{.Number}}() string {
	/*
		{{.Prompt}}
	*/
	ans := `TODO`
	fmt.Sprintf("%v", ans)
}

{{ end }}

{{ define "caseForMainSolver" }}	case {{.Number}}:
		s.answer = easy.SolveProblem{{.Number}}()
{{ end }}